body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 12em;
}

p {
	font: verdana;
}

div {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}